<a href="https://colab.research.google.com/github/sugiyama404/DecideBudgetFromWalras/blob/main/walras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
import time

drive.mount('/content/drive/')
nov_dir = 'Colab Notebooks/dataset/walras_equation/'
bd_path = '/content/drive/My Drive/' + nov_dir + 'BASIC_DATE.csv'
ron_path = '/content/drive/My Drive/' + nov_dir + 'REAL_OR_NOMINAL.csv'

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
df = pd.read_csv(bd_path)
df

                           name  value
0           inflation_rate_2020  -0.02
1  multiplier_public_investment   1.14
2      multiplier_tax_reduction   0.30

In [3]:
df2 = pd.read_csv(ron_path)
df2

                    name         REAL
0                    GDP      535.700
1      unemployment_rate        0.025
2  completely_unemployed  1700000.000
3                   wage  5475000.000

In [4]:
GDP=23.8*1.14
print('GDP  =' + str(round(GDP,2)))
now_GDP=df2['REAL'][0]
print(now_GDP)
for_GDP=now_GDP+GDP
print('for_GDP  =' + str(for_GDP))
all_wage = df2['REAL'][2] * df2['REAL'][3]*0.000000000001
print('all_wage  =' + str(all_wage))
for_mometqary_base=(50+all_wage+GDP)/2
print('for_mometqary_base  ='+str(round(for_mometqary_base,2)))

GDP  =27.13
535.7
for_GDP  =562.832
all_wage  =9.3075
for_mometqary_base  =43.22